<body>
  <div class="card">
    <h2>📚 Choose Your Favorite Category</h2>

    <form action="/recommend" method="POST">
      
      <button type="submit" name="category" value="Science Fiction">
        Science Fiction
      </button>

      <button type="submit" name="category" value="Mystery">
        Mystery
      </button>

      <button type="submit" name="category" value="Romance">
        Romance
      </button>

      <button type="submit" name="category" value="Fantasy">
        Fantasy
      </button>

    </form>
  </div>
</body>
