<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bookflix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='recommendbook/style.css') }}">
 <!-- your CSS file -->
</head>
<body>

  <!-- NAVBAR -->
  <div class="navbar">
    <div class="logo">BOOKFLIX</div>
    <input class="search" type="text" placeholder="Search books...">
  </div>

  <!-- ROW 1 -->
  <section class="row">
    <h2>Popular Books</h2>

    <div class="row__books">
      <div class="book">
        <img src="covers/atomic-habits.jpg" alt="Atomic Habits">
        <p class="title">Atomic Habits</p>
      </div>

      <div class="book">
        <img src="covers/harry-potter.jpg" alt="Harry Potter">
        <p class="title">Harry Potter</p>
      </div>

      <div class="book">
        <img src="covers/1984.jpg" alt="1984">
        <p class="title">1984</p>
      </div>

      <div class="book">
        <img src="covers/the-alchemist.jpg" alt="The Alchemist">
        <p class="title">The Alchemist</p>
      </div>
    </div>
  </section>

  <!-- ROW 2 -->
  <section class="row">
    <h2>Self-Help</h2>

    <div class="row__books">
      <div class="book">
        <img src="covers/deep-work.jpg" alt="Deep Work">
        <p class="title">Deep Work</p>
      </div>

      <div class="book">
        <img src="covers/ikigai.jpg" alt="Ikigai">
        <p class="title">Ikigai</p>
      </div>
    </div>
  </section>
  

</body>
</html>
